#header {
    /* background : url('58e1d534-494d-4147-bb3b-6b65a8320455_200x200.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.lead{
    color: rgb(0, 0, 0);
}



nav{
  background-color: rgb(245, 246, 214);
}
.fa-utensils {
  color: rgb(0, 0, 0);
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.657);
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  
  small {
    font-size: 12px;
    color: darkgray;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table tr:hover {
    background-color: wheat;
  }
  
  td {
    border-bottom: 1px solid gray;
    padding: 10px;
  }
  
  
  .card:hover {
    box-shadow: 2px 2px 2px #5a5a5a;
  }
  

  .column {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .gray {
    color: gray;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  